<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label for=""> Paye name</label>
      <input
        class="form-control"
        (input)="onNameChange($event.target.value)"
        type="text"
      />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for=""> Payment Date</label>
      <input
        class="form-control"
        (input)="onInputDate($event.target.value)"
        type="date"
      />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>{{ date | date: "MMMM d, yyyy" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for=""> Payment Amount</label>
      <input
        class="form-control"
        (input)="onInputAmount($event.target.value)"
        type="number"
      />
    </div>
    <div class="col">
      <label><b>Date</b></label>
      <div>{{ amount | currency: "BRL":true }}</div>
    </div>
  </div>
</div>
